name: Lucuma Flake Steward

on:
  schedule:
    - cron: "45 7 * * 2"
  workflow_dispatch:

jobs:
  lockfile:
    strategy:
      matrix:
        repo:
          - gemini-locales
          - gmp
          - itc-server
          - lucuma-apps
          - lucuma-core
          - lucuma-graphql-routes
          - lucuma-react
          - ocs
          - seqexec
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.LUCUMA_STEWARD_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_GH_TOKEN }}
          owner: ${{ github.repository_owner}}
          repositories: ${{ matrix.repo }}

      - uses: actions/checkout@v6
        with:
          repository: ${{ github.repository_owner }}/${{ matrix.repo }}
          token: ${{ steps.generate-token.outputs.token }}
          persist-credentials: false

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ steps.generate-token.outputs.token }}

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v24
        with:
          token: ${{ steps.generate-token.outputs.token }}
          branch: update/flake-lock
          git-author-email: 106720676+lucuma-steward[bot]@users.noreply.github.com
          git-author-name: lucuma-steward[bot]
          git-committer-email: 106720676+lucuma-steward[bot]@users.noreply.github.com
          git-committer-name: lucuma-steward[bot]
          pr-body: |
            Automated changes by the [update-flake-lock](https://github.com/DeterminateSystems/update-flake-lock) GitHub Action.

            ```
            {{ env.GIT_COMMIT_MESSAGE }}
            ```
